<h1>Let's Play Tamagachi!</h1>

<h2>Create your Tamagachi below</h2>

<form action='/name?' method='post'>
  <label for="input_name">Name:</label>
  <input id="input_name" name="input_name" text="text">
  <button type="submit">Start</button>
</form>
